{% extends "layouts/default.njk" %}

{% block content %}
<div class="container text-center error-container">
    <div class="col-8 offset-2">
        <a href="/">
            <span class="logo"><i data-feather="aperture"></i></span>
        </a>
        <h1 class="mt-5">The site is currently down for maintenance</h1>
        <p class="mt-3">We apologize for any inconveniences caused.<br>We've almost done.</p>
        <a href="/" class="btn btn-primary mt-3">Back to home</a>
    </div>
</div>
{% endblock %}