<div class="card-body">
    <h3><span class="semi-bold">Lorem</span> Ipsum</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, maiores eveniet neque error quia labore debitis, dignissimos libero beatae atque animi, nihil voluptate. Accusantium tenetur recusandae velit odio rerum commodi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nesciunt modi commodi molestiae incidunt iure.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>