<div class="card-controls">
    <ul>
        <li data-toggle="maximize">
            <i data-feather="maximize"></i>
        </li>
        <li data-toggle="refresh">
            <i data-feather="circle"></i>
        </li>
        <li data-toggle="close">
            <i data-feather="x"></i>
        </li>
    </ul>
</div>