<nav>
    <div class="menu">
        <div class="main-menu">
            <a class="logo" href="/">
                <span><i data-feather="aperture"></i></span>
            </a>
            <div class="main-menu-content">
                <ul>
                    {% for row in menu -%}
                    <li 
                        {% if menuTitle == row.name %}
                        class="active"
                        {% endif %}>
                        <a href="{{ row.path }}" title="{{ row.name }}">
                            <span><i data-feather="{{ row.icon }}"></i></span>
                        </a>
                    </li>
                    {%- endfor %}
                </ul>
            </div>

            <div class="main-menu-footer">
                <ul>
                    <li>
                        <a href="/" title="System">
                            <span><i data-feather="server"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Extensions">
                            <span><i data-feather="zap"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sub-menu">
            <div class="sub-menu-content">
                <h1 class="page-title">{{ menuTitle }}</h1>
                {% for row in submenu[menuTitle] -%}
                <section>
                    <h1 class="section-title">{{ row.name }}</h1>
                    {% if row.child %}
                    <ul>
                        {% for item in row.child -%}
                        <li
                            {% if submenuTitle == item.name %}
                            class="active"
                            {% endif %}>
                            <a href="{{ item.path }}">{{ item.name }}</a>
                        </li>
                        {%- endfor %}
                    </ul>
                    {% endif %}
                </section>
                {%- endfor %}
            </div>
        </div>
    </div>
</nav>