<nav>
    <div class="menu">
        <div class="main-menu">
            <a class="logo" href="/"></a>
            <div class="main-menu-content">
                <ul>
                    <li class="active">
                        <a href="/" title="Dashboard">
                            <span><i class="fa fa-home"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Content">
                            <span><i class="fa fa-pencil"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/" title="User">
                            <span><i class="fa fa-user"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/" title="System">
                            <span><i class="fa fa-gear"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Extensions">
                            <span><i class="fa fa-bolt"></i></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="main-menu-footer">
                <ul>
                    <li>
                        <a href="/" title="System">
                            <span><i class="fa fa-gear"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Extensions">
                            <span><i class="fa fa-bolt"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sub-menu">
            <div class="sub-menu-content">
                <h1 class="page-title">Dashboard</h1>
                <section>
                    <h1 class="section-title">GLOBAL</h1>
                    <ul>
                        <li><a href="">General</a></li>
                        <li><a href="">Members</a></li>
                        <li><a href="">Mail</a></li>
                        <li class="active"><a href="">System</a></li>
                        <li><a href="">Pictures</a></li>
                    </ul>
                </section>
                <section>
                    <h1 class="section-title">MANAGEMENT</h1>
                    <ul>
                        <li><a href="">Database</a></li>
                        <li><a href="">Languages</a></li>
                        <li><a href="">Hooks</a></li>
                        <li><a href="">Scheduled Tasks</a></li>
                    </ul>
                </section>
                <section>
                    <h1 class="section-title">E-MAIL</h1>
                    <ul>
                        <li><a href="">Email Templates</a></li>
                    </ul>
                </section>
                <section>
                    <h1 class="section-title">EXTRA</h1>
                    <ul>
                        <li><a href="">Clear Cache</a></li>
                        <li><a href="">PHP Info</a></li>
                        <li><a href="">Generate Sitemap</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</nav>