<div class="dt-toolbar">
    <h3><span class="semi-bold">Recipe</span> Datasource</h3>
    <form class="pull-right form-inline mb-2">
        <div class="form-group mx-sm-1">
            <input type="text" class="form-control" placeholder="Search keyword">
        </div>
        <select class="custom-select mx-sm-1">
            <option selected>10 entries</option>
            <option>20 entries</option>
            <option>30 entries</option>
            <option>40 entries</option>
        </select>
        <button class="btn mx-sm-1 btn-secondary">Export</button>
        <button class="btn btn-primary">Create</button>
    </form>
    <div class="dt-filter mt-3">
        <h6>
            <span class="badge badge-primary">Status is Live<i class="ml-2 fa fa-close"></i></span>
        </h6>
        <h6>
            <span class="badge badge-primary">Category is not Food<i class="ml-2 fa fa-close"></i></span>
        </h6>
        <h6>
            <span class="badge badge-secondary">
                <i class="fa fa-plus"></i> Add Filter
            </span>
        </h6>
    </div>
</div>