.modal {

    &.modal-light {
        .modal-content {
            border: 0;
            border-radius: 0;
        }
    }

    .modal-dialog {
        &.modal-side {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 350px;
            margin: 0;

            .modal-content {
                height: 100%;
            }
        }

        &.modal-full {
            min-width: 100%;
            margin: 0;

            .modal-content {
                min-height: 100vh;
            }

        }
    }
}