nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: inline-block;

    .menu {
        height: 100%;

        .main-menu {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 100%;
            vertical-align: top;
            background: $primary;
            z-index: 2;

            .logo {
                width: 60px;
                height: 60px;
                background-image: url('https://d3bv2hg4q0qyg2.cloudfront.net/2018/12/08/33b869f90619e81763dbf1fccc896d8d.jpg');
                border-top-left-radius: 12px;
                margin: 20px 0 20px 10px;
                display: block;
                background-size: cover;
                background-position: center;
                border-bottom-left-radius: 12px;
                transition: .5 ease;
            }

            .main-menu-bg {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: $primary;
            }

            .main-menu-content {
                position: absolute;
                top: 32%;
                left: 0;
            }

            .main-menu-footer {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
            }

            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;

                li {
                    text-align: center;

                    a {
                        display: block;
                        width: 70px;
                        height: 70px;
                        line-height: 70px;
                        color: white;
                        text-decoration: none;
                    }

                    span {
                        display: inline-block;
                        font-size: 20px;
                    }

                    &.active, :hover{

                        span {
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            border-radius: 10px;
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                }
            }
        }
        .sub-menu {
            position: relative;
            display: inline-block;
            width: 250px;
            height: 100%;
            vertical-align: top;
            background-color: #F3F5F8;
            margin-left: -5px;
            transition: .5s ease;
            z-index: 1;

            .menu-toggle {
                position: absolute;
                top: 30px;
                right: 0;
                transition: .5s ease;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: $primary;
                color: white;
                z-index: 1;
            }

            h1.page-title {
                margin-top: 20px;
                margin-right: 10px;
                height: 60px;
                font-size: 22px;
                font-weight: bold;
                color: $primary;
                background: white;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                padding-left: 15px;
                line-height: 60px;
            }

            .sub-menu-content {
                position: relative;
                height: 100%;
                overflow-y: auto;
            }

            .sub-menu-bg {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 250px;
                background-color: red;
            }

            section {
                padding-top: 20px;

                .section-title {
                    color:rgb(112, 119, 129);
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding-left: 20px;
                }

                ul {
                    padding-left: 0;
                    list-style: none;

                    li {
                        padding: 5px 5px 5px 20px;

                        &.active {
                            background: white;
                            border-right: 3px solid $primary;

                            a {
                                color: $primary;
                            }
                        }

                        &.sub-level {
                            padding-left: 0;

                            li {
                                padding-left: 40px;
                            }
                        }
                    }

                    a {
                        display: block;
                        color: #768191;
                        
                        &:hover {
                            text-decoration: none;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

body {
    &.min {

        main {
            padding-left: 70px;    
        }

        .sub-menu {
            margin-left: -255px;
        }

        nav .menu .sub-menu .menu-toggle {
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 0;
            border-bottom-right-radius: 12px;
            border-top-right-radius: 12px;
            right: -60px;
            top: 20px;
            font-size: 20px;
            background: white;
            color: $primary;
            z-index: 3;
        }
    }
}