.progress {
    height: 4px;
    background-color: rgba(98,98,98,.2);
    background-image: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 20px;

    .progress-bar {
        background: #626262;
        transition: all 1000ms cubic-bezier(.785,.135,.15,.86);
        transition-timing-function: cubic-bezier(.785,.135,.15,.86);
    }

    .progress-bar-smooth {
        background: url(../img/progress/progress-bar-master.svg) no-repeat top left;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}